@font-face {
  font-family: "Urbit Sans";
  src: url('https://media.urbit.org/fonts/UrbitSans/UrbitSansVFWeb-Regular.woff2')
       format('woff2');
  font-weight: 100 700;
  font-style: normal italic;
  }

body, html {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color:#fff;
  font-family: "Urbit Sans";
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
main{
  margin: 20px auto;
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#title {
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none;
  font-family: "Urbit Sans";
  font-style: italic;
}
#loginButtons {
  display: flex;
  gap: 10px;
}
button {
  font-family: "Urbit Sans";
  /* padding: 5px; */
  cursor: pointer;
  font-size: 17px;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #363636;
  color: white;
}
button:hover {
  background-color: #ddd;
}
.buttonPadding{
    padding: 6px;
}
input, textarea{
  font-family: "Urbit Sans";
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  background-color: #000000;
  color:rgb(255, 255, 255);
  border: 1px solid #363636;
}
input:focus, textarea:focus{
    border: 1px solid #ffffff;
}
textarea{
    resize: none;
    height: 120px;
}
select, option{
    font-family: "Urbit Sans";
    background-color: #000000;
    color:#ffffff;
}
select{
    padding: 8px;
    border: 1px solid #363636;
    border-radius: 4px;
    font-size: 14px;
}
h2{
   margin-bottom: 0;
}
#metaMaskSection {
  display: none;
  margin-right: 20px;
}
#urbitId {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #999;
  border-radius: 4px;
}
#errorMessage{
  display: none;
  color: red;
  padding-left: 10px;
}
#submitSection {
  display: none;
  padding: 10px;
}
#submitSectionTagPart{
  display: flex;
  gap: 5px;
}
#submitButtonContainer{
    display: flex;
    flex-direction: row;
}
#submitButton{
    margin-left: auto;
}
#linkInput {
  flex-grow: 2;
}
#filterContainer{
    display: flex;
    gap: 5px;
}
.post, .comment {
  display: flex;
  background-color: #0F0F0E;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #0F0F0E;
}
.post{
    cursor: pointer;
}
.voteSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-right: 10px;
}
.voteArrow {
  cursor: pointer;
  margin: 4px 0;
  font-size: 20px;
}
.postContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.postTitle {
  font-size: 18px; /* Increased for visibility */
  text-decoration: none;
  color: #0079d3;
}
.postTitle:hover {
  text-decoration: underline;
}
.postInfo {
  color: #b5b5b5;
  font-size: 12px; /* Smaller for metadata */
  display: flex;
  align-items: baseline;
}
.separator {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 5px;
  }
  
.tagsContainer{
  display: flex;
  direction: column;
  /* gap: 5px; */
  /* pointer-events: none; */
}
.tag {      
  /* padding: 8px 14px; */
  font-size: 14px;
  border: 1px solid #333;
  border-radius: 4px;
}
.underlineText{
    display: inline-block;
    border-bottom: 1px solid #363636;
    margin-bottom: 0;
    padding-left: 5px;
}
/* post.html */
#containerHeader{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.commentsContainer{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.comment{
    flex-direction: column;
}
#commentForm{
    display: flex;
    gap:5px;
}
#commentText{
    width: 80%;
    height: 70px;
    padding: 5px;
}