@font-face {
  font-family: "Urbit Sans";
  src: url('https://media.urbit.org/fonts/UrbitSans/UrbitSansVFWeb-Regular.woff2')
       format('woff2');
  font-weight: 100 700;
  font-style: normal italic;
  }

:root {
  --fs-small: 13.6px;
  --fs-med: 17px;
  --bg-dark: #000000;
  --bg-grey: #363636;
  --bg-light: #ddd;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: var(--bg-dark);
  color:#fff;
  font-family: "Urbit Sans";
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
main{
  margin: 20px auto;
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#title {
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none;
  font-family: "Urbit Sans";
  font-style: italic;
}
#loginButtons {
  display: flex;
  gap: 10px;
}
div{
  border-radius: 4px;
}
button {
  font-family: "Urbit Sans";
  padding: 3px;
  cursor: pointer;
  font-size: var(--fs-med);
  border: 1px solid var(--bg-grey);
  border-radius: 4px;
  background-color: var(--bg-grey);
  color: white;
}
button:hover {
  background-color: var(--bg-light);;
}
/* .buttonPadding{
    padding: 6px;
} */
input, textarea{
  font-family: "Urbit Sans";
  padding: 8px;
  border-radius: 4px;
  font-size: var(--fs-small);
  background-color: var(--bg-dark);
  color:rgb(255, 255, 255);
  border: 1px solid var(--bg-grey);
}
input:focus, textarea:focus{
    border: 1px solid #ffffff;
    outline: none;
}
textarea{
    resize: none;
    height: 120px;
}
select, option{
    font-family: "Urbit Sans";
    background-color: var(--bg-dark);
    color:#ffffff;
}
select{
    padding: 8px;
    border: 1px solid var(--bg-grey);
    border-radius: 4px;
    font-size: var(--fs-small);
}
h2{
   margin-bottom: 0;
}
#metaMaskSection {
  display: none;
  margin-right: 20px;
}
#urbitId {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #999;
  border-radius: 4px;
}
#errorMessage{
  display: none;
  color: red;
  padding-left: 10px;
}
#submitSection {
  display: none;
  background-color: var(--bg-grey);
  padding: 10px;
}
#submitSectionTagPart{
  display: flex;
  gap: 5px;
}
#submitButtonContainer{
    display: flex;
    flex-direction: row;
}
#submitButton{
    margin-left: auto;
}
#linkInput {
  flex-grow: 2;
}
#filterContainer{
    display: flex;
    gap: 5px;
}
#sortFilter{
    align-self: center;
}
#selectArea {
    background-color: var(--bg-grey);
    display: none;
    position: absolute;
    margin-top: 3px;
  }
#selectArea.open, #selectArea.open .selectOption {
    display: block;
    padding: 3px
  }
.selectOption:hover{
    background-color: var(--bg-light);;
}
#searchQueryContainer, 
#searchQueryContainer div {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
#searchQueryContainer div {
  background-color: var(--bg-grey);
  padding: 0 3px;
}
#clearAll{
  display: none;
}
#clearAll.open{
  display: block;
}
.post, .comment {
  display: flex;
  background-color: #0F0F0E;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #0F0F0E;
  padding-top:0;
  padding-bottom: 0;
}
.post{
  cursor: pointer;
}
.voteSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-right: 10px;
}
.voteArrow {
  cursor: pointer;
  margin: 4px 0;
  font-size: 20px;
}
.postContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.postTitle {
    font-size: var(--fs-med);
  text-decoration: none;
  color: #0079d3;
}
.postTitle:hover {
  text-decoration: underline;
}
.postInfo {
  color: #b5b5b5;
  font-size: var(--fs-small);
  display: flex;
  align-items: baseline;
}
.separator {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 5px;
  }
  
.tagsContainer{
  display: flex;
  direction: column;
  /* gap: 5px; */
  /* pointer-events: none; */
}
.newTag{
    display: flex;
    gap:3px;
    background-color: var(--bg-grey);
    border: 1px solid #333;
    border-radius: 4px;
    padding: 3px;
}
.newTag div{
    align-self: center;
}
.tag {      
  /* padding: 8px 14px; */
  font-size: var(--fs-small);
  border: 1px solid #333;
  border-radius: 4px;
}
.underlineText{
    display: inline-block;
    border-bottom: 1px solid var(--bg-grey);
    margin-bottom: 0;
    padding-left: 5px;
}
/* post.html */
#containerHeader{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.commentsContainer{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.comment{
    flex-direction: column;
}
#commentForm{
    display: flex;
    gap:5px;
}
#commentText{
    width: 80%;
    /* height: 70px; */
    padding: 5px;
}