@font-face {
  font-family: "Urbit Sans";
  src: url('https://media.urbit.org/fonts/UrbitSans/UrbitSansVFWeb-Regular.woff2')
       format('woff2');
  font-weight: 400, 500;
  font-style: normal;
  }
@font-face {
  font-family: "Urbit Serif Italic";
  src: url('./fonts/UrbitSans/UrbitSerifItalicVF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }
:root {
  --fs-large: 20px;
  --fs-medium: 16px;
  --fs-small: 12.8px;
  --bg-dark: #0b0b07;
  --bg-grey: #252521;
  --bg-light: #2C2C24;
  --bg-hover: #383834;
  --bg-hover-light: #555552;
  --bd-static: #2E2E25;
  --bd-select: #43433E;
  --fc-dark: #BABAB6;
  --fc-grey: #837E7E;
  --br: 5px;
}

body, html {
  padding: 0;
  background-color: var(--bg-dark);
  color: white;
  font-family: "Urbit Sans";
  scroll-behavior: smooth;
  cursor: default;
  font-size: var(--fs-large);
  font-weight: 400;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: relative;
}
body{
  margin: 20px auto;
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#title {
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  font-family: "Urbit Serif Italic";
  font-weight: 400;
}
#loginButtons {
  display: flex;
  gap: 10px;
}
div{
  border-radius: var(--br);
}
button {
  font-family: "Urbit Sans";
  padding: 2px 5px;
  cursor: pointer;
  font-size: var(--fs-medium);
  border: 1px solid var(--bg-grey);
  border-radius: var(--br);
  background-color: var(--bg-grey);
  color: white;
}
button:hover {
  border: 1px solid var(--bg-hover);
  background-color: var(--bg-hover);
}
input, textarea{
  font-family: "Urbit Sans";
  padding: 3px 7px;
  border-radius: var(--br);
  font-size: var(--fs-medium);
  background-color: inherit;
  color:rgb(255, 255, 255);
  border: 1px solid var(--bg-hover);
}
textarea{
  resize: none;
  height: 120px;
}
input:focus,
textarea:focus{
  border: 1px solid #61615D;
  outline: none;
}
h2{
  margin-bottom: 0;
}
.grey{
  color: #7D7D79;
  text-align: center;
}
#logInContainer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 11, 7, 0.75);
  backdrop-filter: blur(3px);
  justify-content: center;
  align-items: center;
  z-index: 101;
}
#logInContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 25px;
  background: #14140F;
  border: solid 1px #32322B;
  border-radius: var(--br);
}
.logInContainerPart{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
#signInHeader{
  font-weight: normal;
  width: 100%;
  text-align: left;
  margin: 0;
}
#metaMaskSection {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-right: 20px;
}
#urbitId {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #999;
  border-radius: var(--br);
}
#sigilContainer{
  border-radius: var(--br);
}
#errorMessage{
  display: none;
  color: red;
  padding-left: 10px;
  text-decoration: none;
}
#errorMessage:hover{
  color: default;
}
#submitSection {
  display: none;
  background-color: #14140F;
  padding: 10px;
}
#submitSectionTagPart{
  display: flex;
  gap: 5px;
}
button#submitTag{
  margin: 0 4px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 13px;
  width: 13px;
  justify-content: center;
  align-self: center;
  background-color: inherit;
  border: none;
}
button#submitTag:hover {
  background-color: #484845;
}
#submitTag img{
  height: 11px;
  width: 11px;
}
#addTags{
  color: var(--fc-grey);
}
#addTags img{
  transform: rotate(45deg);
  padding: 0 0 1px 0;
}
#addTags button:hover{
  background-color: var(--bg-hover);
}
#newTagForm,
.newTag{
  background-color:  var(--bg-grey);
}
.newTag{
  display: flex;
  font-size: var(--fs-medium);
}
#newTagForm:hover {
  background-color:  var(--bg-hover);
}
/* .newTag div{
  font-size: var(--fs-medium);
  padding: 3px 0 3px 7px;
} */
#tagsInput{
  background-color: inherit;
  border: none;
  width: 30px;
  padding-right: 0;
  margin-right: 0;
}
#submitButtonContainer{
  display: flex;
  flex-direction: row;
}
#submitButton{
  margin-left: auto;
}
#linkInput {
  flex-grow: 2;
}
#filters{
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--bg-dark);
}
#filterContainer{
  display: flex;
  gap: 5px;
  /* margin-top: 20px; */
  margin-top: 10px;
  margin-bottom: 10px;
}
#sortFilter{
  align-self: center;
}
#selectTrigger{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 73px;
}
#selectTrigger img{
  height: 7px;
}
#downArrow{
  color: var(--fc-dark);
}
#selectArea {
  background-color: var(--bg-grey);
  display: none;
  position: absolute;
  margin-top: 3px;
  width: 67px;
}
#selectArea.open, #selectArea.open .selectOption {
  display: block;
  padding: 3px;
  font-size: var(--fs-medium);
  }
.selectOption:hover{
  background-color: var(--bg-light);;
}
#searchBy{
  width: 100px;
}
#searchQueryContainer{
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
#clearAll{
  display: none;
}
#clearAll.open{
  display: block;
}
.post,
#containerHeader{
  display: grid; 
  grid-template-columns: 8% 92%;
}
#containerHeader{
  grid-template-rows: auto auto;
}
.comment{
  display: flex;
  gap: 10px;
  padding: 0 10px;
}
.post, .comment {
  margin-bottom: 10px;
  border-radius: var(--br);
}
.post{
  background-color: #14140F;
  border: 1px solid var(--bg-);
  cursor: pointer;
}
.post:hover{
  background-color: #1D1D1A;
}
.voteSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}
.voteArrow {
  display: flex;
  padding: 2px;
  align-content: center;
  border: 1px solid transparent;
  border-radius: var(--br);
  cursor: pointer;
  background-color: inherit;
}
.voteArrow:hover,
.voteArrow.hovered {
  background-color: #262622;
  border: 1px solid #262622;
}
.scoreEl{
  padding: 5px;
}
.postContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.postTitle {
  color: white;
  font-size: var(--fs-large);
  text-decoration: none;
  align-self: flex-start;
  width: auto;
}
.postTitle:hover {
  text-decoration: none;
  color: var(--fc-dark);
}
.postInfo {
  /* color: #b5b5b5; */
  color: #8F8F8A;
  font-size: var(--fs-medium);
  display: flex;
  align-items: baseline;
}
.postInfo:hover{
  color: white;
}
.postData{
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
.separator {
  height: 10px;
}
.tagsContainer{
  display: flex;
  direction: column;
}
/* .newTag, */
.searchElem {
  display: flex;
  /* gap: 7px; */
  background-color: var(--bg-grey);
  border: 1px solid var(--bg-grey);
  border-radius: var(--br);
  /* padding: 1px 5px; */
}
.newTag div,
.newTag button,
.searchElem div,
.searchElem button{
  align-self: center;
}
.newTag div,
.searchElem div{
  font-size: var(--fs-medium);
  padding: 3px 0 3px 7px;
}
.newTag button,
.searchElem button{
  display: flex;
  padding: 2px;
  margin: 0 4px;
  height: 16px;
  width: 16px;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.newTag button{
  background: inherit;
}
.newTag button:hover{
  background: #484845;
  border-color: #484845;
}
.newTag button:active {
  background: #555553;
  border-color: #555553;
}
.xIcon{
  height: 14px;
  width: 14px;
}
button.tag {      
  color: #DEDED8;
  text-align: center;
  font-size: var(--fs-small);
  font-style: normal;
  font-weight: 500;
  line-height: 9.303px;
  margin: 0 0 0 5px;
  padding: 4px;
}  
button.tag:hover{
  color: white
}
.underlineText{
  margin-bottom: 0;
  padding-left: 5px; 
  position: relative;
  padding-bottom: 15px;
}
.underlineText::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%; 
  transform: translateX(-50%);
  width: 100vw;
  height: 1px;
  background-color: var(--bg-hover);
}
/* post.html */
#containerPost{
  padding: 10px 0;
}
div#containerHeader .voteSection{
  padding:0;
}
.commentsContainer{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.comment{
  flex-direction: column;
  padding: 15px 0;
}
.commentBody{
  font-size: var(--fs-medium);
  margin-right: 10px;
  grid-row: 2;
  grid-column: 2;
  padding-right: 10px;
  padding-bottom: 10px;
  align-self: center;
  overflow: visible;
}
#commentBodyContainer{
  display: flex;
  align-items: center;
}
#commentForm{
  display: flex;
  gap: 5px;
}
#commentText{
  width: 100%;
  padding: 5px;
  padding-left: 10px;
}
.commentInfo{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--fs-small);
  gap: 10px;
}
div.commentText {
  font-size: 16px;
}
